<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<p><% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
</p>

</body>
</html>